body {
    font-family: Lora, serif;
    font-size: 16px;
    line-height: 2em;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
}

h3 {
  font-weight: normal;
}

#wrapper {
  width: 800px;
  margin: 50px auto;
}

a {
  color: #02549f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes fadein {
  from { opacity: 0; }
  40% { opacity: 0; }
  50% { opacity: 1; }
  to { opacity: 0; }
}

#messages {
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
}

#message1 {
    -webkit-animation: fadein 3s linear 3s infinite;
    -moz-animation: fadein 3s linear 3s infinite;
    -ms-animation: fadein 3s linear 3s infinite;
    -o-animation: fadein 3s linear 3s infinite;
    animation: fadein 3s linear 3s infinite;
    opacity: 0;
}

#message2 {
    text-align: center;
    -webkit-animation: fadein 7s linear 3s infinite;
    -moz-animation: fadein 7s linear 3s infinite;
    -ms-animation: fadein 7s linear 3s infinite;
    -o-animation: fadein 7s linear 3s infinite;
    animation: fadein 7s linear 3s infinite;
    opacity: 0;
}

#message3 {
    text-align: right;
    -webkit-animation: fadein 11s linear 3s infinite;
    -moz-animation: fadein 11s linear 3s infinite;
    -ms-animation: fadein 11s linear 3s infinite;
    -o-animation: fadein 11s linear 3s infinite;
    animation: fadein 11s linear 3s infinite;
    opacity: 0;
}

#message4 {
    transform: scale(-1, 1);
    -webkit-animation: fadein 15s linear 3s infinite;
    -moz-animation: fadein 15s linear 3s infinite;
    -ms-animation: fadein 15s linear 3s infinite;
    -o-animation: fadein 15s linear 3s infinite;
    animation: fadein 15s linear 3s infinite;
    opacity: 0;
}

#message5 {
    transform: scale(1, -1);
    text-align: center;
    -webkit-animation: fadein 19s linear 3s infinite;
    -moz-animation: fadein 19s linear 3s infinite;
    -ms-animation: fadein 19s linear 3s infinite;
    -o-animation: fadein 19s linear 3s infinite;
    animation: fadein 19s linear 3s infinite;
    opacity: 0;
}

#message6 {
    transform: scale(-1, -1);
    text-align: right;
    -webkit-animation: fadein 23s linear 3s infinite;
    -moz-animation: fadein 23s linear 3s infinite;
    -ms-animation: fadein 23s linear 3s infinite;
    -o-animation: fadein 23s linear 3s infinite;
    animation: fadein 23s linear 3s infinite;
    opacity: 0;
}

@media (max-width: 800px) {
  #wrapper {
    width: 100%;
  }
}
